node_modules
.next
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
coverage
.prisma
.superpowers/
raycast-extension/package-lock.json
next-env.d.ts
raycast-extension/raycast-env.d.ts
